footer
    div 
        p Footer
        a(href="https://www.facebook.com/storyhufs/posts/1872610396100271") hufstory facebook
        span |
        a(href="https://hashtagen.com/people/hufstory_official") hufstory instagram
        span |
        a(href="https://open.kakao.com/o/sy8CRfKb") hufstory kakaotalk
        p Copyright © hufstory