div(id="top")
            h3(id="title") HUFSTORY
            a(class="index" href="/") MAIN
            a(class="index" href="/update") UPDATE 
            a(class="index" href="/delete") DELETE
            a(class="index" href="/reference") RESULT