extends base.pug
block head
    script(src='https://cdn.syncfusion.com/ej2/dist/ej2.min.js' type='text/javascript')
    script(src="javascripts/getInfo.js")
    script(src="javascripts/selectFunction.js")

block content
    div(id="survey_main")
        h1 정보기입
        div(id="survey_text_box")
            br
            br
            form(method="POST", action="/getinfo_process", id="getInfoPost")
                div 
                    p 1. 학번;
                    input(type='text', required, name="STnumber")
                div 
                    p 2. 이름;
                    input(type='text', required, name='Name')
                div 
                    p 3. 성별;
                    input(id="genderButton0", value="남자", class="genderButton_off", type='button', onclick="genderButton(0)")
                    input(id="genderButton1", value="여자", class="genderButton_off", type='button', onclick="genderButton(1)")
                div
                    p 4. 희망하는 만날 지역
                    div(id="fieldInput")
                    br
                    select(id="fieldSelect" onchange="fieldSelectFunction()")
                        option(id="fieldDefaultOption" value="default" selected) 원하시는 지역을 선택해주세요
                        option(class="option" value="0") 강남구
                        option(class="option" value="1") 서초구
                        option(class="option" value="2") 마포구
                        option(class="option" value="3") 동대문구
                        option(class="option" value="4") 성남시
                        option(class="option" value="5") 수원시
                        option(class="option" value="6") 용인시
                        option(class="option" value="7") 고양시
                        option(class="option" value="8") 인천
                        option(class="option" value="9") 대전
                        option(class="option" value="10") 강릉
                        option(class="option" value="11") 전주
                        option(class="option" value="12") 광주광역시
                        option(class="option" value="13") 대구
                        option(class="option" value="14") 부산
                div 
                    p 5. 인스타그램 ID
                    input(type='text', name='instagramID')
                div 
                    p 6. 카카오톡 ID
                    input(type='text', name="kakaoID", required)
                div 
                    p 7. 매칭 종류
                    input(id="kindButton0" class="Button_off" type='button', value="연인" onclick="KoMButton(0)")
                    input(id="kindButton1" class="Button_off" type='button', value="친구" onclick="KoMButton(1)")
                div 
                    p 8. 자신의 MBTI
                    input(id="MBTI0" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(0)")
                    input(id="MBTI1" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(1)")
                    input(id="MBTI2" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(2)")
                    input(id="MBTI3" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(3)")
                    input(id="MBTI4" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(4)")
                    input(id="MBTI5" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(5)")
                    input(id="MBTI6" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(6)")
                    input(id="MBTI7" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(7)")
                    input(id="MBTI8" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(8)")
                    input(id="MBTI9" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(9)")
                    input(id="MBTI10" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(10)")
                    input(id="MBTI11" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(11)")
                    input(id="MBTI12" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(12)")
                    input(id="MBTI13" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(13)")
                    input(id="MBTI14" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(14)")
                    input(id="MBTI15" class="MBTIButton_off" type='button', value="0" onclick="MBTIButton(15)")
                div 
                    p 9. 원하는 상대방의 MBTI
                    input(type='button', value="0", id="WantedMBTI0", class="MBTIButton_off", onclick="WantedMBTIButton(0)")
                    input(type='button', value="0", id="WantedMBTI1", class="MBTIButton_off", onclick="WantedMBTIButton(1)")
                    input(type='button', value="0", id="WantedMBTI2", class="MBTIButton_off", onclick="WantedMBTIButton(2)")
                    input(type='button', value="0", id="WantedMBTI3", class="MBTIButton_off", onclick="WantedMBTIButton(3)")
                    input(type='button', value="0", id="WantedMBTI4", class="MBTIButton_off", onclick="WantedMBTIButton(4)")
                    input(type='button', value="0", id="WantedMBTI5", class="MBTIButton_off", onclick="WantedMBTIButton(5)")
                    input(type='button', value="0", id="WantedMBTI6", class="MBTIButton_off", onclick="WantedMBTIButton(6)")
                    input(type='button', value="0", id="WantedMBTI7", class="MBTIButton_off", onclick="WantedMBTIButton(7)")
                    input(type='button', value="0", id="WantedMBTI8", class="MBTIButton_off", onclick="WantedMBTIButton(8)")
                    input(type='button', value="0", id="WantedMBTI9", class="MBTIButton_off", onclick="WantedMBTIButton(9)")
                    input(type='button', value="0", id="WantedMBTI10", class="MBTIButton_off", onclick="WantedMBTIButton(10)")
                    input(type='button', value="0", id="WantedMBTI11", class="MBTIButton_off", onclick="WantedMBTIButton(11)")
                    input(type='button', value="0", id="WantedMBTI12", class="MBTIButton_off", onclick="WantedMBTIButton(12)")
                    input(type='button', value="0", id="WantedMBTI13", class="MBTIButton_off", onclick="WantedMBTIButton(13)")
                    input(type='button', value="0", id="WantedMBTI14", class="MBTIButton_off", onclick="WantedMBTIButton(14)")
                    input(type='button', value="0", id="WantedMBTI15", class="MBTIButton_off", onclick="WantedMBTIButton(15)")
                div 
                    p 10. 전공
                    div(id="majorInput")
                    br
                    select(id="majorSelect" onchange="majorSelectFunction()")
                        option(id="majorDefaultOption" value="default" selected) 본인의 전공을 선택해주세요
                        option(class="option" value="전공1") 전공1
                        option(class="option" value="전공2") 전공2
                        option(class="option" value="전공3") 전공3
                        option(class="option" value="전공4") 전공4
                        option(class="option" value="전공5") 전공5
                        option(class="option" value="전공6") 전공6
                        option(class="option" value="전공7") 전공7
                        option(class="option" value="전공8") 전공8
                        option(class="option" value="전공9") 전공9
                        option(class="option" value="전공10") 전공10
                        option(class="option" value="전공11") 전공11
                        option(class="option" value="전공12") 전공12
                        option(class="option" value="전공13") 전공13
                        option(class="option" value="전공14") 전공14
                        option(class="option" value="전공15") 전공15
                div 
                    p 11. 병역 여부;
                    input(type='button', value="군필", id="MilitaryServiceButton0", class="Button_off", onclick="booleanButton('MilitaryService', 0)")
                    input(type='button', value="미필", id="MilitaryServiceButton1", class="Button_off", onclick="booleanButton('MilitaryService', 1)")
                div 
                    p 12. 흡연 여부
                    input(type='button', value="흡연자", id="SmokerButton0", class="Button_off", onclick="booleanButton('Smoker', 0)")
                    input(type='button', value="비흡연자", id="SmokerButton1", class="Button_off", onclick="booleanButton('Smoker', 1)")
                div 
                    p 13. 음주 빈도
                    input(required, type='text', name='Fre_Drinking')
                div 
                    p 14. 동성과 매칭되어도 괜찮습니까?
                    input(type='button', value="예", id="SameGenderButton0", class="Button_off", onclick="booleanButton('SameGender', 0)")
                    input(type='button', value="아니오", id="SameGenderButton1", class="Button_off", onclick="booleanButton('SameGender', 1)")
                div 
                    p 15. 같은 전공인 사람과 매칭되어도 괜찮습니까?
                    input(type='button', value="예", id="SameMajorButton0", class="Button_off", onclick="booleanButton('SameMajor', 0)")
                    input(type='button', value="아니오", id="SameMajorButton1", class="Button_off", onclick="booleanButton('SameMajor', 1)")
                div 
                    p 16. 병역 의무 완수자만을 원하십니까?
                    input(type='button', value="예", id="O_MilitaryServiceButton0", class="Button_off", onclick="booleanButton('O_MilitaryService', 0)")
                    input(type='button', value="아니오", id="O_MilitaryServiceButton1", class="Button_off", onclick="booleanButton('O_MilitaryService', 1)")
                div 
                    p 17. 흡연자와의 매칭이 괜찮습니까?
                    input(type='button', value="예", id="O_SmokerButton0", class="Button_off", onclick="booleanButton('O_Smoker', 0)")
                    input(type='button', value="아니오", id="O_SmokerButton1", class="Button_off", onclick="booleanButton('O_Smoker', 1)")
                input(id="survey_button" type="submit" value="제출하기")
                br
                br
                input(class="invisibleInputTag", required, type="text", name="Gender", id="Gender")
                input(class="invisibleInputTag", required, type="text", name="Field", id="Field")
                input(class="invisibleInputTag", required, type="text", name="KoM", id="KoM")
                input(class="invisibleInputTag", required, type="text", name="OwnMBTI", id="OwnMBTI")
                input(class="invisibleInputTag", required, type="text", name="WantedMBTI", id="WantedMBTI")
                input(class="invisibleInputTag", required, type="text", name="Major", id="Major")
                input(class="invisibleInputTag", required, type="text", name="MilitaryService", id="MilitaryService")
                input(class="invisibleInputTag", required, type="text", name="Smoker", id="Smoker")
                input(class="invisibleInputTag", required, type="text", name="SameGender", id="SameGender")
                input(class="invisibleInputTag", required, type="text", name="SameMajor", id="SameMajor")
                input(class="invisibleInputTag", required, type="text", name="O_MilitaryService", id="O_MilitaryService")
                input(class="invisibleInputTag", required, type="text", name="O_Smoker", id="O_Smoker")
