extends base.pug
include mixins/simple

block head 
    title Home

block content 
    h1 home!
    h2 Informations:
    each info in infos
        +simple(info)
    else 
        li Sorry nothing found.
    a(class='button' href='/getinfo') ADD
    br
    a(class='button' href='/admin/delete') DELETE
    br
    a(class='button' href='/admin/update') UPDATE
    br
    a(class='button' href='/regions') Regions
    br
    a(class='button' href='/admin/matching') Matching
    br
    a(class='button' href='/reference') Reference
