extends base.pug

block head
    h1 Reference the Result

block content
    form(method="POST", action="/result")
        input(placeholder="학번", required, type="text", name="STnumber")
        input(placeholder="카카오톡 ID", required, type="text", name="kakaoID")
        input(type='submit', value='Submit')
