@import "../../../utils";

.SurveyMain {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Nanum Brush Script", cursive;
  font-size: 5vh;
  font-weight: bolder;

  .Category_insta {
    height: 100%;
  }
  .Category_matcing {
    height: 100%;
  }
  .Category_mati {
    height: 100%;
  }
  .Category_anything {
    height: 100%;
  }
  .Submit {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Nanum Brush Script", cursive;
    font-size: 5vh;
    font-weight: bolder;
  }
  .button {
    background-color: blue;
  }
  .b {
    background: red;
  }
  .c {
    background: green;
  }
}
