doctype html
html(lang='ko')
    head
        block head
        //- link(rel='stylesheet' href='https://unpkg.com/mvp.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        main
            include partials/top.pug
            block content
    include partials/footer.pug
