extends base.pug
include mixins/simple

block head 
    title Home

block content 
    h1 home!

    a(class='button' href='/groupGetinfo') 그룹 추가
    br
    a(class='button' href='/groupDelete') 그룹 삭제
    br
    a(class='button' href='/groupMatch') 그룹 매칭
    br
    a(class='button' href='/groupInfos') 그룹 정보
