div(id="top")
            h3(id="title") HUFSTORY
            ul(id="topUl")
                li
                    a(class="index" href="/") MAIN
                li
                    a(class="index" href="/update") UPDATE
                li
                    a(class="index" href="/delete") DELETE
                li
                    a(class="index" href="/reference") RESULT